body{
padding: 0;
margin: 0;
font-family: ;
}
.header {
     background: url('../image/border.jpg') no-repeat center top / cover;
     padding-bottom: 400px;
     margin top: auto ;
}
.offer p{
    font-size: 80px;
    letter-spacing: 0.0em;
    margin-top: auto;

    
}
.container {
    width: 1180px;
    margin: auto;
}
.footer{
    background: url('../image/border.jpg') no-repeat center top / cover;
     padding-bottom: 100px; 
}