body{
padding: 0;
margin: 0;  
}
*{
padding: 0;
margin: 0;
scroll-behavior:smooth ;
}
section{
position: relative;
width: 100%;
height: 850px;
display: flex;
justify-content: center;
align-items: center;
font-size: 5em;
font-weight: 800;
}
section:first-child{
background: url('../image/border.jpg') no-repeat center top / cover;
padding-bottom: 115px;
margin top:0;
}
.main h2{
font-size: 50px;
display: inline-block;
border: 7px solid  #6C6960;
border-radius: 20px;
float: right;
padding: 7px;
margin: 0px 0px 0px 500px;
color: #474A51;
}
.main h1{
font-size: 70px;
display: inline-block;
float: right;
padding: 7px;
margin: 0px 0px 0px 500px;
color: #474A51;
}
.main p{
	font-size: 50px;
	color: #6C6960 ;
}
section:nth-child(2){
background: url('../image/abstract.png') no-repeat center top / cover;
padding-bottom:160px;
margin top:0px;
}
.smoothies{
	display: inline-block;
    justify-content: space-between;

}
.smoothies h3{
display: flex;
margin: 300px 0px 50px 500px;
padding: 0;
text-align: center;
font-size: 50px;
background: #FFFED6; 
}

.table{
	font-size: 30px;
	line-height: 100px;
	align-items:justify;
}
.desc-left p{
display: inline-block;
}


section:nth-child(3){
background: url('../image/sechion3.jpg') no-repeat center top / cover;
padding-bottom:115px;

}
nav{
position: fixed;
top: 0;
width: 100%;
text-align: center;
background: #CADABA;
}
nav a{
position: relative;
color: green;
text-decoration: none;
padding: 8px 25px;
font-size: 1.5em;
text-transform: uppercase;
display: inline-block;
}
nav a:hover, 
section#w1:hover~nav a[href="#w1"],
section#w2:hover~nav a[href="#w2"],
section#w3:hover~nav a[href="#w3"],
section#w4:hover~nav a[href="#w4"],
section#w5:hover~nav a[href="#w5"]
{
color: black;
background: #E5E4E2;
}
nav a:active{
background: #82898F;
}













